<% provide(:title, "Home") %>
<p>here comes the stuff about simple (historical) hand techniques about classic ciphers</p>
<a>also the download link for the handout pdf</a>
<article>
  Wenn zwei Knaben jeder einen Apfel haben und sie diese Äpfel tauschen, hat am Ende auch nur jeder einen.
  Wenn aber zwei Menschen je einen Gedanken haben und diese tauschen, hat am Ende jeder zwei neue Gedanken.
</br> </br>
  CTFF NCTO QFAZTF PTRTK TOFTF AHYTS IAZTF WFR LOT ROTLT AHYTS MAWLEITF, IAM AD TFRT AWEI FWK PTRTK TOFTF.
  CTFF AZTK NCTO DTFLEITF PT TOFTF UTRAFQTF IAZTF WFR ROTLT MAWLEITF, IAM AD TFRT PTRTK NCTO FTWT UTRAFQTF.
</articel>
